* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #fff;
}

.row.custom_header {
    background-color: seagreen;
    border-radius: 4px;
}

.greeting_div {
    background-color: #fff;
    height: 250px;
    margin: 10px 10px 10px 10px;
    padding: 10px 12px 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.phonebook_div {
    display: flex;
    flex-wrap: wrap;
}

.flex_div {
    width: 30%;
    background-color: #d2d2d2;
    margin: 10px 10px 10px auto;
    padding: 10px 12px 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.flex_div h4,
p {
    text-align: center;
}

.myList {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 13px;
}

.logo_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

.header_menu a {
    text-decoration: none;
    color: #fff;
    transition: all 0.4s;
}

.header_menu a:hover {
    color: aqua;
}

.new_div {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile_img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.text_style{
  background-color: green;
  padding: 12px 16px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text_style h2{
  color: #fff;
  font-size: 18px;
}

.contactList{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contactList h4{
  font-size: 20px;
  padding: 5px 8px 5px;
}

.contactList h6{
  font-size: 16px;
  padding: 5px 8px 5px;
}

.contactList strong{
  padding: 5px 8px 5px;
}
